{% extends "base.html" %}
{% block movieList %}
{% for ml in movies %}

<div class="pokemon" data-name={{ml['title']}} data-type={{ ml['genres'] }} tabindex={{ ml['year'] }}>
    <figure class="pokemon-figure">
        <img src={{url_for('static', filename='img/' + ml['title']+'.jpg')}} alt={{ml['title']}}>
    </figure>
    <section class="pokemon-description">
        <span class="pokemon-id">#{{ml['year']}}</span>
        <h1 class="pokemon-name">{{ml['title']}}</h1>
        <div class="pokemon-types">
            {%for type in ml['genres']%}
            <span class="pokemon-type background-{{type}}">{{type}}</span>
            {%endfor%}
        </div>
    </section>
    <section class="pokemon-stats">
        {% for cast in ml['cast'] %}
        <div class="stat-row">
            {{cast}}
        </div>
        {% endfor %}
    </section>
</div>

{% endfor %}
{% endblock %}
